{
  "presets": ["react-app"],
  "plugins": [
//    "react-hot-loader/babel",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "minify": false
      }
    ],
    "macros"
  ]
}
