{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-high-performance-animation",
    "stylelint-z-index-value-constraint"
  ],
  "rules": {
    "property-no-vendor-prefix": true,
    "plugin/z-index-value-constraint": {
      "min": 1,
      "max": 10
    }
  }
}
